@model MedicalEmergency.Presentation.Manager.Models.Offer.OfferViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Oferta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OfferID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferSource)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstInstallmentMaturityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstInstallmentMaturityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastInstallmentMaturityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastInstallmentMaturityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualCET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyCET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyCET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovimentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovimentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancedIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancedIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancedInsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancedInsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductInsurenceID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductInsurenceID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IOFValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IOFValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstInstallmentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstInstallmentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TACValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TACValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualTaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualTaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinancedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinancedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleasedValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleasedValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SettleValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SettleValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallmentValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallmentValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InclusionTaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InclusionTaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RenewalTaxValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RenewalTaxValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPSTValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPSTValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiredRangeRateInclusion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiredRangeRateInclusion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuggestedTrackReturn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuggestedTrackReturn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SimulationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SimulationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
