@model PagedList.IPagedList<MedicalEmergency.Presentation.Manager.Models.CEP.CEPNotFoundViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista CEP Não Encontrado</h2>

@using (Html.BeginForm())
{
    <input class="form-control custom cep" type="text" id="cep" placeholder="CEP" name="CEP">

    <input type="submit" class="btn btn-default" id="btn-buscar" value="Buscar" />
}

<div class="table-custom cep">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Count)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }

    </table>
</div>

    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.currentSort, asc = ViewBag.asc, status = ViewBag.status }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    Mostrando @Model.FirstItemOnPage para @Model.LastItemOnPage de @Model.TotalItemCount registros.
