@model MedicalEmergency.Presentation.Manager.Models.Proposal.ProposalViewModel

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deletar</h2>

<h3>Tem certeza que deseja deletar?</h3>
<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthdayUF.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayUF.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivilStatus.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivilStatus.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyUF.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyUF.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Natiolality.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Natiolality.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectiveLoan.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectiveLoan.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Offer.OfferID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Offer.OfferID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalClass.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalClass.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceRelationship.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceRelationship.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidencialUF.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidencialUF.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scholarity.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scholarity.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherIncomesValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherIncomesValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstInstallmentMaturity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstInstallmentMaturity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthdayCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidencialCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidencialCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNeighborhood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNeighborhood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferencePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferencePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterationAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterationAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para Lista", "Index")
        </div>
    }
</div>
