@model MedicalEmergency.Presentation.Manager.Models.Proposal.ProposalViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Proposta</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProposalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StorekeeperID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StorekeeperID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfferID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfferID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InsuranceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InsuranceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectiveLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectiveLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthdayUF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayUF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CivilStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CivilStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scholarity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scholarity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Natiolality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Natiolality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherIncomesValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherIncomesValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstInstallmentMaturity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstInstallmentMaturity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthdayCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthdayCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfessionalClass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfessionalClass)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Complement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidencialCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidencialCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidencialUF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidencialUF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyUF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyUF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCEP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyNeighborhood)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyNeighborhood)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferencePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferencePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgencyCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgencyCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Editar", "Edit", new { id = Model.ID }) | *@
        @Html.ActionLink("Voltar para Lista", "Index")
    </p>
