@model MedicalEmergency.Domain.Entities.HealthUnit

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes</h2>

<div>
    <h4>Unidade Médica</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emergency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emergency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LinkPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LinkPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialtiesEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialtiesEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialtiesES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialtiesES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialtiesPT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialtiesPT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar para Lista", "Index")
</p>
