@model PagedList.IPagedList<MedicalEmergency.Domain.Entities.HealthUnit>
@using PagedList.Mvc;
@using MedicalEmergency.Presentation.Manager.Helpers;

@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Unidades Médicas</h2>

@using (Html.BeginForm())
{
    <input class="form-control custom" type="text" id="cpf" placeholder="Nome" name="Name">

   @Html.DropDownList("emergencyTypeID", null, new { @class = "form-control custom", @id = "emergencyTypeID" })
   @Html.DropDownList("institutionTypeID", null, new { @class = "form-control custom", @id = "institutionTypeID" })

    <input type="submit" class="btn btn-default" id="btn-buscar" value="Buscar" />
}

<div class="table-custom">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.First().Address).ToString())
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Longitude)
            </th>
            <th class="th-Emergency">
                @Html.ActionLinkWithColumnOrder(@HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.First().EmergencyTypeID).ToString()), "Index", (string)ViewBag.sortOrder, ViewBag.asc != null ? (bool)ViewBag.asc : true, ViewBag.page != null ? (int)ViewBag.page : 1, ViewBag.status != null ? (int)ViewBag.status : 0)
            </th>
            <th class="th-Institution">
                @Html.ActionLinkWithColumnOrder(@HttpUtility.HtmlDecode(@Html.DisplayNameFor(model => model.First().InstitutionTypeID).ToString()), "Index", (string)ViewBag.sortOrder, ViewBag.asc != null ? (bool)ViewBag.asc : true, ViewBag.page != null ? (int)ViewBag.page : 1, ViewBag.status != null ? (int)ViewBag.status : 0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LinkEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LinkPT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SpecialtiesEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SpecialtiesES)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SpecialtiesPT)
            </th>
            <th class="th-Created">
                @Html.ActionLinkWithColumnOrder(@Html.DisplayNameFor(model => model.First().Created).ToString(), "Index", (string)ViewBag.sortOrder, ViewBag.asc != null ? (bool)ViewBag.asc : true, ViewBag.page != null ? (int)ViewBag.page : 1, ViewBag.status != null ? (int)ViewBag.status : 0)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emergency.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkPT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialtiesEN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialtiesES)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialtiesPT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.ID }) 
                </td>
            </tr>
        }
    </table>
</div>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.currentSort, asc = ViewBag.asc, status = ViewBag.status }), PagedListRenderOptions.ClassicPlusFirstAndLast)
Mostrando @Model.FirstItemOnPage para @Model.LastItemOnPage de @Model.TotalItemCount registros.

<script>
    if (!$('.th-Emergency').find("a").attr('href').indexOf('page') >= 0) {
        var href = $('.th-Emergency').find("a").attr('href');
        $('.th-Emergency').find("a").attr('href', href + '&page=1');
    }

    if (!$('.th-Emergency').find("a").attr('href').indexOf('emergencyTypeID') >= 0) {
        var href = $('.th-Emergency').find("a").attr('href');
        $('.th-Emergency').find("a").attr('href', href + '&emergencyType=' + $('#emergencyTypeID').val());
    }

    if (!$('.th-Emergency').find("a").attr('href').indexOf('institutionTypeID') >= 0) {
        var href = $('.th-Emergency').find("a").attr('href');
        $('.th-Emergency').find("a").attr('href', href + '&institutionType=' + $('#institutionTypeID').val());
    }

    if (!$('.th-Institution').find("a").attr('href').indexOf('page') >= 0) {
        var href = $('.th-Institution').find("a").attr('href');
        $('.th-Institution').find("a").attr('href', href + '&page=1');
    }

    if (!$('.th-Institution').find("a").attr('href').indexOf('institutionTypeID') >= 0) {
        var href = $('.th-Institution').find("a").attr('href');
        $('.th-Institution').find("a").attr('href', href + '&institutionType=' + $('#institutionTypeID').val());
    }

    if (!$('.th-Institution').find("a").attr('href').indexOf('emergencyTypeID') >= 0) {
        var href = $('.th-Institution').find("a").attr('href');
        $('.th-Institution').find("a").attr('href', href + '&emergencyType=' + $('#emergencyTypeID').val());
    }

    if (!$('.th-Created').find("a").attr('href').indexOf('page') >= 0) {
        var href = $('.th-Created').find("a").attr('href');
        $('.th-Created').find("a").attr('href', href + '&page=1');
    }

    if (!$('.th-Created').find("a").attr('href').indexOf('institutionTypeID') >= 0) {
        var href = $('.th-Created').find("a").attr('href');
        $('.th-Created').find("a").attr('href', href + '&institutionType=' + $('#institutionTypeID').val());
    }

    if (!$('.th-Created').find("a").attr('href').indexOf('emergencyTypeID') >= 0) {
        var href = $('.th-Created').find("a").attr('href');
        $('.th-Created').find("a").attr('href', href + '&emergencyType=' + $('#emergencyTypeID').val());
    }

</script>
